@font-face {
    font-family: 'Roboto';
    src: url("Roboto-Regular.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
  }
  
  @font-face {
    font-family: 'Roboto-Bold';
    src: url("Roboto-Bold.ttf") format("truetype");
    font-weight: 700;
    font-style: normal;
  }
  
  @font-face {
    font-family: 'Roboto-Light';
    src: url("Roboto-Light.ttf") format("truetype");
    font-weight: 300;
    font-style: normal;
  }
  
  @font-face {
    font-family: 'Roboto-Medium';
    src: url("Roboto-Medium.ttf") format("truetype");
    font-weight: 500;
    font-style: normal;
  }
  
  @font-face {
    font-family: 'RobotoSlab';
    src: url("RobotoSlab-Regular.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
  }
  
  @font-face {
    font-family: 'Roboto-Thin';
    src: url("Roboto-Thin.ttf") format("truetype");
    font-weight: 100;
    font-style: normal;
  }
  
  @font-face {
    font-family: 'RobotoSlab-Thin';
    src: url("RobotoSlab-Thin.ttf") format("truetype");
    font-weight: 100;
    font-style: normal;
  }
  
  @font-face {
    font-family: 'Roboto-Black';
    src: url("Roboto-Black.ttf") format("truetype");
    font-weight: 900;
    font-style: normal;
  }